---
import { getCollection } from 'astro:content'

const posts = await getCollection('blog');
---

<h1>My Blog</h1>
<ul>
  {posts.map((post) => (
    <li>
      <a href={post.slug}>{post.data.title}</a>
      <p>{post.data.description}</p>
    </li>
  ))}
</ul>
